<div class="container">
    <h3 mat-dialog-title *ngIf="flagArtDialog == 1">Dodavanje odeljenja</h3>
    <h3 mat-dialog-title *ngIf="flagArtDialog == 2">Modifikacija odeljenja: {{dataOdeljenje.id}}</h3>
    <h3 mat-dialog-title *ngIf="flagArtDialog == 3">Brisanje odeljenja: {{dataOdeljenje.id}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Naziv" [(ngModel)]="dataOdeljenje.naziv" name="naziv" [disabled]="flagArtDialog == 3"
                    required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Lokacija" [(ngModel)]="dataOdeljenje.lokacija" name="lokacija" [disabled]="flagArtDialog == 3"
                    required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field class="form-field">
                <mat-select [compareWith]="compare" placeholder="bolnica" name="bolnica" [(ngModel)]="dataOdeljenje.bolnica" [disabled]="flagArtDialog==3" required>
                    <mat-option *ngFor="let bolnica of bolnice" [value]="bolnica">
                        {{bolnica.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        

        <div mat-dialog-actions>
            <button mat-raised-button *ngIf="flagArtDialog == 1" [disabled]="!formControl.valid" [mat-dialog-close]="1"
                (click)="add()">Sačuvaj</button>
            <button mat-raised-button *ngIf="flagArtDialog == 2" [disabled]="!formControl.valid" [mat-dialog-close]="1"
                (click)="update()">Sačuvaj</button>
            <button mat-raised-button *ngIf="flagArtDialog == 3" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
            <button mat-raised-button (click)="cancel()" tabindex="-1">Poništi</button>
        </div>
    </form>
</div>